.realisations-slider-widget {
  .icon-image {
    margin-top: -10px;
    max-width: 160px;
    max-height: 20px;
  }
  .slider-intro {
    margin-bottom: 20px;
    .section-title {
      font-size: 2.5rem;
      font-weight: bold;
    }
    .divider {
      margin-bottom: 30px;
    }
  }

  .slider-container {
    position: relative;
  }

  .slide-item {
    padding: 0 15px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .slick-prev-custom,
  .slick-next-custom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ff6600; // Помаранчевий колір
    font-size: 24px;
    cursor: pointer;
    z-index: 5;
  }

  .slick-prev-custom {
    left: 0;
  }
  .slick-next-custom {
    right: 0;
  }

  // Вигляд до ініціалізації
  .js-slick-init:not(.slick-initialized) {
    display: flex;
    overflow: hidden;
    .slide-item {
      flex: 0 0 33.333%;
    }
  }
}
