// Project variables
// Note: Prefer using framework variables

$grey: #4c4a4c;
$orange: #f26d22;

//
//$text-color: #333;

$primary-color: $grey;
$sub-color: $orange;

$font: 'Open Sans', serif;
//$sub-font: $font;

// Project mixins

// Custom fonts
:root {
  --content-size: 80rem;
}
